h1 {
    font-size: 60px;
    font-style: italic;
    text-align: center;
    color: brown;
    margin: 25px 50px 12px 50px;
    padding: 40px;
}

h2 {
    text-align: center;
}

.subheadline {
    text-align: center;
    margin-top: -25px;
}

body {
    background-color: blanchedalmond;
    font-family: serif
}

.logobox {
    background-color: white;
    margin: 0 0 25px 0;
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    overflow: hidden;
}

#logo {
    display: block;
    width: 150px;
    height: 150px;
}

ul {
    color: brown;
    font-size: 20px;
}


ol {
    color: brown;
    font-size: 20px;

}


.main-content {
    text-align: center;
    margin: 12px 50px 25px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.main-content img {
    height: 200px;
    width: auto;
    border-radius: 15px;
}

.rezept img:hover{
    transform: scale(1.2);
    transition: all ease ;
    transition-duration: 0.7s;
}

.rezeptlink {
    display: inline-block;
    text-align: center;
    color: brown;
    font-size: 20px;
    background-color: blanchedalmond;
    padding: 25px;
    margin: 10px 10px 10px 10px;
}


p {
    color: brown;
    font-size: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 15px;
}

.rezeptseite {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.rezeptoben {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.links {
    display: flex;
    flex-direction: column;

}

.links h2 {
    align-self:flex-start;
}

.rechts {
    align-self: stretch;

}
.rechts img{
    margin: 0;
    width: 100%;

}
.unten {
    width: 870px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.unten h2 {
    align-self: flex-start;
}
