h1 {
    font-size: 60px;
    text-align: center;
    color: black;
    background-color: aliceblue;
    margin: 75px;
    border: 2px;
    border-color: black;
    border-style: solid;
    padding: 10px;
}

body {
    background-color: blanchedalmond;
}

ul {
    color: brown;
    font-size: 20px;
}

.rezeptliste {
    display: flex;
    list-style: none;
    margin-top: 115px;
}

ol {
    color: brown;
    font-size: 20px;

}
.rezeptlink {
    color: brown;
    font-size: 20px;
    background-color: blanchedalmond;
    padding: 3.5em;
    border: 2px;
    border-style: solid;
    border-color: black;

}

a:hover {
    background-color: white;
}
p {
    color: brown;
    font-size: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header {

}

.main-content {
    height: 250px;
}

button {
    font-weight: bold;
    position:absolute;
    left: 38%;
    top: 50%;
    background-color: white;
    color: brown;
    border-radius: 10px;
    padding: 10px;
    min-height: 50px;
    min-width: 200px;
}

button:hover {
    background-color: pink;
    transition: 0.8s;
}
